doctype html
html(lang="en", data-url-prefix=$router->getUrlPrefix())
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    $userTheme = $user && $user->theme ? $user->theme : 'united';

    link(rel="stylesheet", type="text/css", href=$router->getUrlPrefix()."/vendor/twbs/bootstrap/dist/css/bootstrap-reboot.min.css")
    link(rel="stylesheet", type="text/css", href=$router->getUrlPrefix()."/components/bootswatch/dist/".$userTheme."/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href=$router->getUrlPrefix()."/components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href=$router->getUrlPrefix()."/static/styles.css")
    link(rel="stylesheet", type="text/css", href=$router->getUrlPrefix()."/static/print.css" media="print")
    link(rel="stylesheet", type="text/css", href=$router->getUrlPrefix()."/components/highlightjs/styles/github.css")
    title
      block title
        ='Totodo'

  body
    include ../partial/navbar

    block body

    script(src=$router->getUrlPrefix()."/components/jquery/jquery.min.js")
    script(src=$router->getUrlPrefix()."/vendor/twbs/bootstrap/assets/js/vendor/popper.min.js")
    script(src=$router->getUrlPrefix()."/vendor/twbs/bootstrap/dist/js/bootstrap.min.js")
    script(src=$router->getUrlPrefix()."/components/highlightjs/highlight.pack.min.js")
    script(src=$router->getUrlPrefix()."/components/moment/min/moment-with-locales.min.js")
    script(src=$router->getUrlPrefix()."/static/main.js")
    script(src="https://code.highcharts.com/highcharts.js")
