mixin checkboxInput()
  .form-check(class=(empty($inline) ? null : 'form-check-inline'))
    .custom-control.custom-checkbox
      input.form-check-input.custom-control-input(
        checked=(empty($checked) ? false : 'checked'),
        class=(!empty($error) ? 'is-invalid' : null),
        id=$name,
        name=$name,
        placeholder=$placeholder,
        type="checkbox",
        value=$value,
      )
      label.form-checkbox-label.custom-control-label(for=$name)=$label
    +inputFeedback()(error=&$error)
