mixin checkboxGroup()
  .form-group
    +inputLabel()(
      name=$name,
      required=$required,
    )
    .form-group
      each $option in $options
        +checkboxInput()(
          label=($option['label']),
          name=($name.'['.$option['value'].']'),
          value=($option['value']),
          checked=(in_array($option['value'], $value))
        )
    +inputFeedback()(error=$error)
