mixin selectInput()
  .form-group
    +inputLabel()(
      for=$name,
      name=$name,
      required=$required,
    )
    select.form-control(
      autofocus=(empty($autofocus) ? null : 'autofocus'),
      class=($error ? 'is-invalid' : null),
      id=$name,
      name=$name,
      type="text",
      required=(empty($required) ? null : 'required'),
    )
      if empty($required)
        option(value='')
          =($placeholder ? $placeholder : '(Empty)')
      each $option in $options
        option(
          value=$option['value'],
          selected=($option['value'] == $value ? 'selected' : null),
        )
          =$option['label']
    +inputFeedback()(error=$error)
