mixin textareaInput()
  .form-group
    +inputLabel()(
      for=$name,
      name=$name,
      required=$required,
    )
    textarea.form-control(
      autofocus=(empty($autofocus) ? null : 'autofocus'),
      class=($error ? 'is-invalid' : null),
      id=$name,
      name=$name,
      placeholder=$placeholder,
      required=(empty($required) ? null : 'required'),
    )=$value
    +inputFeedback()(error=$error)
