extends layouts/master

include inputs/mixins.pug

block body
  .container
    .card
      .card-body
        h2.card-title Login
        form.form-login(method="post",action=$router->getUrl('login'))
          :csrfTokenField
          input(
            name="redirectTo",
            type="hidden",
            value=$request->getPathFull(),
          )
          +emailInput()(
            name='email',
            label="E-mail",
            placeholder="Enter your e-mail",
            error=$errors['email'],
            required=true,
            value=$values['email'],
          )
          +passwordInput()(
            name='password',
            label="Password",
            error=$errors['password'],
            required=true,
          )
          button.btn(type="submit") Login
