extends ../layouts/master.pug

include ../inputs/mixins.pug

block title
  ='Edit profile'

block body
  .container
    h1.mb-3 Edit profile

    .card
      .card-body
        form.edit-self(method="post")
          :csrfTokenField
          +textInput()(
            autofocus=true,
            error=$errors['name'],
            label="Name",
            name='name',
            placeholder="User full name",
            required=true,
            value=$values['name'],
          )
          +emailInput()(
            autofocus=true,
            error=$errors['email'],
            label="Email",
            name='email',
            required=true,
            value=$values['email'],
          )
          +selectInput()(
            autofocus=true,
            error=$errors['theme'],
            label="Theme",
            name='theme',
            options=$themeOptions,
            placeholder='Default',
            value=$values['theme'],
          )
          button.btn.btn-primary(type="submit")=($userItem ? 'Save changes' : 'Create user')
          hr
          include ../partial/form-required-fields.pug
