extends ../layouts/master.pug

include ../inputs/mixins.pug

block title
  ='Edit profile'

block body
  .container
    h1.mb-3 Edit profile

    .card
      .card-body
        form.edit-self(method="post")
          :csrfTokenField
          +passwordInput()(
            autofocus=true,
            error=$errors['password'],
            label="Old Password",
            name='password',
            required=true,
          )
          +passwordInput()(
            error=$errors['newPassword'],
            label="New Password",
            name='newPassword',
            required=true,
          )
          +passwordInput()(
            error=$errors['newPasswordCheck'],
            label="Retype new Password",
            name='newPasswordCheck',
            required=true,
          )
          button.btn.btn-primary(type="submit")=($userItem ? 'Save changes' : 'Create user')
          hr
          include ../partial/form-required-fields.pug
