mixin date()
  if !empty($date)
    time.date(datetime=$date)
      =((new DateTime($date))->format('Y-m-d'))

mixin datetime()
  if !empty($datetime)
    time.datetime(datetime=$datetime)
      =((new DateTime($datetime))->format('l Y-m-d G:i:s'))
