nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
  .container
    a.navbar-brand(href=$router->getUrl('home'))
      span.letter-1='T'
      span.letter-2='o'
      span.letter-3='t'
      span.letter-4='o'
      span.letter-5='d'
      span.letter-6='o'
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#appNavbar", aria-controls="appNavbar", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon

    div#appNavbar.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item
          a.nav-link(href=$router->getUrl('task:list')) Tasks
        if $user
          if $user->hasPerm('manage-users')
            li.nav-item
              a.nav-link(href=$router->getUrl('user:list')) Users
          li.nav-item
            a.nav-link(href=$router->getUrl('task:create')) Create task
          if $user->hasPerm('manage-users')
            li.nav-item
              a.nav-link(href=$router->getUrl('user:create')) Create user


      ul.navbar-nav.my-2.my-lg-0
        if $user
          li.nav-item
            a.nav-link(href=$router->getUrl('self:home'))
              span.fa.fa-fw.fa-user
              =' '
              =$user->name
          li.nav-item
            a.nav-link(href=$router->getUrl('logout'))
              span.fa.fa-fw.fa-sign-out
              =' '
              ='Logout'
        else
          li.nav-item
            a.nav-link(href=$router->getUrl('login'))
              span.fa.fa-fw.fa-sign-in
              =' '
              ='Login'
