extends ../layouts/master.pug

include ../partial/datetime.pug
include ../partial/more.pug

block title
  =$task->name

block body
  .container
    h1.mb-3
      =$task->name

    include detail-menu.pug

    if $message == 'changed'
      .alert.alert-success Task changes were successfully saved.
    if $message == 'created'
      .alert.alert-success Task was successfully created.
    if $message == 'archived'
      .alert.alert-warning Task was successfully archived.
    if $message == 'unarchived'
      .alert.alert-success Task was successfully unarchived.
    if $message == 'commented'
      .alert.alert-success Comment was successfully saved.
    if $message == 'assigned'
      .alert.alert-success Task was successfully assigned.
    if $message == 'no-change'
      .alert.alert-warning No changes were made.

    .task-detail.mb-5
      include detail-list.pug
      .task-description.mb-2
        if $task->description
          !=Parsedown::instance()->setMarkupEscaped(true)->text($task->description)
        else
          .text-muted Description is empty

      if $tags
        .tag-list.align-items-right
          each $tag in $tags
            a.badge.badge-link.badge-secondary(
              href=$router->getUrl('task:list', ['tags' => [$tag->id]])
            )= $tag->name

    .d-print-none
      hr

      h2.mb-3 Comments

      if $comments
        each $comment in $comments
          include comment.pug
        +more(
          href=$router->getUrl('task:comments', ['taskId' => $task->id]),
          total=$commentsLength,
          max=5,
        )
      else
        p.text-muted
          ='There are no comments yet. '
          if !$task->archived
            a(href=$router->getUrl('task:comment', ['taskId' => $task->id])) Be first to comment!

      hr

      h2.mb-3 Task history

      ul.list-unstyled
        each $change in $history
          li
            include change.pug
      +more(
        href=$router->getUrl('task:history', ['taskId' => $task->id]),
        total=$historyLength,
        max=15,
      )
