if $task->author || $task->due || $task->assigned
  .task-detail-list.list-group.mb-4

    .list-group-item(class=($task->archived ? 'list-group-item-warning' : null))
      .fa.fa-fw.fa-tasks
      =' '
      strong Status:
      =' '.$task->status->name
      if $task->archived
        =' (Archived)'

    if $task->due
      .list-group-item
        .fa.fa-fw.fa-clock-o
        =' '
        strong Due Date:
        =' '
        +date(date=$task->due)

    if $task->author
      .list-group-item
        .fa.fa-fw.fa-user-circle
        =' '
        strong Author:
        =' '
        =$task->author->name

    if $task->assigned
      .list-group-item
        .fa.fa-fw.fa-user-circle
        =' '
        strong Assigned:
        =' '
        =$task->assigned->name
