extends ../layouts/master.pug

include ../inputs/mixins.pug

block title
  ='Create task'

block body
  .container
    h1=($task ? 'Edit task' : 'Create task')

    .card
      .card-body
        form.edit-task(method="post")
          :csrfTokenField
          +textInput(
            autofocus=true,
            error=$errors['name'],
            label="Name",
            name='name',
            placeholder="Two word task description",
            required=true,
            value=$values['name'],
          )
          +textareaInput(
            error=$errors['description'],
            label="Description",
            name='description',
            placeholder="Describe the task as thoroughly as you can",
            required=true,
            value=$values['description'],
          )
          +dateInput(
            error=$errors['due'],
            label="Due Date",
            name='due',
            value=$values['due'],
          )
          +checkboxGroup(
            label="Tags",
            name="tags",
            options=$tagOptions,
            value=$values['tags'],
          )
          button.btn.btn-primary(type="submit")=($task ? 'Save changes' : 'Create task')
          hr
          include ../partial/form-required-fields.pug
