if $tags
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(
      data-toggle="dropdown"
      href="#",
      role="button",
      aria-haspopup="true",
      aria-expanded="false"
    ) Tags

    .dropdown-menu.dropdown-menu-right
      a.dropdown-item(
        href=$router->getUrl($view->getRouteName(), $urlParams, ['remove' => ['tags', 'page']])
        class=isset($urlParams['tags']) ? null : 'active'
      ) Don't filter by tags
      each $tag in $tags
        a.dropdown-item(
          href=$router->getUrl($view->getRouteName(), $urlParams, ['toggleArray' => ['tags' => $tag->id], 'remove' => ['page']]),
          class=(!empty($urlParams['tags']) && in_array($tag->id, $urlParams['tags']) ? 'active' : null)
        )
          =$tag->name
