if $statusList
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(
      data-toggle="dropdown"
      href="#",
      role="button",
      aria-haspopup="true",
      aria-expanded="false"
    ) Status

    .dropdown-menu
      a.dropdown-item(
        href=$router->getUrl($view->getRouteName(), $urlParams, ['remove' => ['status', 'page']])
        class=empty($urlParams['status']) ? 'active' : null
      ) Don't filter by status
      each $status in $statusList
        a.dropdown-item(
          class=(isset($urlParams['status']) && $urlParams['status'] == $status->id ? 'active' : null),
          href=$router->getUrl($view->getRouteName(), $urlParams, ['toggle' => ['status' => $status->id], 'remove' => ['page']]),
        )
          =$status->name
