$itemClassName = null

if $task->statusId == 3
  $itemClassName = 'list-group-item-success'
elseif $task->statusId == 2
  $itemClassName = 'list-group-item-info'

a.list-group-item.list-group-item-action(
  class=$itemClassName,
  href=$router->getUrl('task:detail', ["taskId" => $task->id])
)
  .d-flex.w-100.justify-content-between
    =$task->name
    .task-status-icons
      $commentCount = $task->comments->count();
      if $commentCount > 0
        span.badge.badge-pill.badge-primary
          =$commentCount
          =' '
          span.fa.fa-comment
      if $task->assignedId
        span.badge.badge-pill.badge-secondary.task-badge-icon
          span.fa.fa-user
      if $task->due
        span.badge.badge-pill.badge-secondary.task-badge-icon
          span.fa.fa-clock-o
      if $task->archived
        span.badge.badge-pill.badge-secondary.task-badge-icon
          span.fa.fa-archive
  .d-flex.w-100.justify-content-between
    span.small
      =$task->status->name
      if $task->assignedId
        =' | '
        =$task->assigned->name
    span.small.text-muted
      +datetime(datetime=$task->updatedAt)
