details
  summary=$task->name
  .task-description
    if $task->description
      !=Parsedown::instance()->setMarkupEscaped(true)->text($task->description)
    else
      .text-muted Description is empty

a(href=$router->getUrl('task:detail', ['taskId' => $task->id])) Back to task
